@{
    ViewBag.Title = "Trang chủ";
}
<h4>Trang chủ</h4>
<p>Electrical shop</p>
@section Styles {
    
}
@section Scripts {
    <script>
        $(document).ready(function () {
        })
    </script>
}