@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-10 panel-warning">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">@ViewBag.Title</div>
        </div>
        <div class="content-box-large box-with-header">
            <div class="panel-body">
                <div class="form-group form-inline">
                    <input class="form-control tb-search" placeholder="Từ khóa tra cứu..." type="text" style="width:280px;" />
                    <input class="btn btn-primary btn-search" value="Tra cứu" type="button" />
                    <a href="/User/Add" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
                <div class="lst-user" style="min-height:200px; margin-top:16px;">
                    <table class="table table-bordered" style="width:100%;">
                        <tbody>
                            <tr class="success">
                                <th>STT</th>
                                <th>Tài khoản</th>
                                <th>Họ tên</th>
                                <th>SĐT</th>
                                <th>Email</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr>
                                <td colspan="7">Đang nạp...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <link href="~/Content/bootstrap-dialog/bootstrap-dialog.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Content/bootstrap-dialog/bootstrap-dialog.js"></script>
    <script>
        var g_users;
        var g_page_index = 1;
        var g_page_total = 1;

        $(document).ready(function () {

            ajaxLoadUsers(g_page_index);

            // Handle events
            $('.btn-search').click(function () {
                g_page_index = 1;
                ajaxLoadUsers(g_page_index);
            })
        })

        // Ajax to get users
        function ajaxLoadUsers(page) {
            $(".lst-user").html('Loading...');
            $.ajax({
                url: '/User/FilterUsers/?filterText=' + $('.tb-search').val() + '&page=' + page,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Success == true) {

                        console.debug('dbg', JSON.stringify(data));

                        g_page_index = data.PageIndex;
                        g_page_total = data.PageTotal;
                        g_users = data.Users;

                        showUsers(
                            data.Users,
                            data.RowCount,
                            data.PageIndex,
                            data.PageSize,
                            data.PageTotal);
                    }
                    else {
                        $(".lst-user").html('<span class="text-danger">' + data.Message + '</span>');
                    }
                },
                error: function (xhr) {
                    $(".lst-user").html('<span class="text-danger">' + xhr.responseText + '</span>');
                }
            });
        }
        
        // Show users list
        function showUsers(users, totalUsers, pageIndex, pageSize, pageTotal) {
            var html = '';
            var row_index = (pageIndex - 1) * pageSize;
            // Generate row header
            html += '    <table class="table table-bordered table-nonfluid" style="width:100%;">\r\n';
            html += '        <tbody>\r\n';
            html += '            <tr class="alert-success">\r\n';
            html += '               <th class="text-nowrap text-center">STT</th>\r\n';
            html += '                <th class="text-nowrap">Tài khoản</th>\r\n';
            html += '                <th class="text-nowrap">Họ tên</th>\r\n';
            html += '                <th class="text-nowrap">SĐT</th>\r\n';
            html += '                <th class="text-nowrap">Email</th>\r\n';
            html += '                <th class="text-nowrap">Trạng thái</th>\r\n';
            html += '                <th class="text-nowrap">Thao tác</th>\r\n';
            html += '            </tr>\r\n';
            $.each(users, function (index, user) {
                row_index++;
                html += '            <tr>\r\n';
                html += '                <td class="text-nowrap text-center">' + row_index + '</td>\r\n';
                html += '                <td class="text-nowrap">' + user.UserName + '</td>\r\n';
                html += '                <td class="text-nowrap">' + user.FullName + '</td>\r\n';
                html += '                <td class="text-nowrap">' + user.Phone + '</td>\r\n';
                html += '                <td class="text-nowrap">' + user.Email + '</td>\r\n';
                if (user.IsActive) {
                    html += '                <td class="text-nowrap text-center"><a href="#"><i class="glyphicon glyphicon-ok-circle text-success"></i></a></td>\r\n';
                } else {
                    html += '                <td class="text-nowrap text-center"><a href="#"><i class="glyphicon glyphicon-lock text-danger"></i></a></td>\r\n';
                }
                html += '                <td class="text-nowrap">\r\n';
                html += '                    <a href="/User/Edit/' + user.UserId + '" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></a>\r\n';
                html += '                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="ajaxDeleteUser(' + user.UserId + ');"><i class="glyphicon glyphicon-remove"></i></a>\r\n';
                html += '                </td>\r\n';
                html += '            </tr>\r\n';
            })
            if (users.length == 0) {
                html += '            <tr><td colspan="7">Không có tài khoản nào</td></tr>';
            }
            html += '       </tbody>\r\n';
            html += '    </table>\r\n';
            // Do paging
            if (pageTotal > 1) {
                html += '                    <ul class="pagination pagination-sm no-margin inline" style="margin-top:0px; float:right;">\r\n';
                html += '                        <li><a href="#" onclick="return prevPage()">«</a></li>\r\n';
                for (var i = 1; i <= pageTotal; i++) {
                    if (i == g_page_index) {
                        html += '                       <li><span class="text-blue">' + i + '</span></li>\r\n';
                    } else {
                        html += '                       <li><a href="#" onclick="return ajaxLoadUsers(' + i + ')">' + i + '</a></li>\r\n';
                    }
                }
                html += '                        <li><a href="#" onclick="return nextPage()">»</a></li>\r\n';
                html += '                    </ul>\r\n';
            }

            // Show users
            $(".lst-user").html(html);
        }

        // Go to previous page
        function prevPage() {
            if (g_page_index > 1) g_page_index--;
            ajaxLoadUsers(g_page_index);
        }

        // Go to next page
        function nextPage() {
            if (g_page_index < g_page_total) g_page_index++;
            ajaxLoadUsers(g_page_index);
        }

        // Delete user
        function ajaxDeleteUser(id) {
            // Find deleted user
            var deletedUser = null;
            $.each(g_users, function (index, user) {
                if (user.UserId == id) {
                    deletedUser = user;
                    return false; // exit each loop
                }
            })
            // Delete user
            if (deletedUser != null) {
                // Show confirm dialog
                BootstrapDialog.show({
                    message: '<span class="text-danger">Bạn chắc chắn muốn xóa chức danh <b>' + deletedUser.UserName + '</b>?</span>',
                    buttons: [{
                        label: 'Xóa',
                        cssClass: 'btn-danger btn-sm',
                        action: function (dialog) {
                            $.ajax({
                                url: '/User/Delete/?id=' + deletedUser.UserId,
                                type: 'POST',
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    if (data.Success == true) {
                                        ajaxLoadUsers(g_page_index);
                                    }
                                    else {
                                        BootstrapDialog.show({
                                            title: "Lỗi",
                                            message: data.Message,
                                            buttons: [{
                                                label: "Đóng",
                                                cssClass: "btn-primary btn-sm",
                                                action: function (dialog) {
                                                    dialog.close();
                                                }
                                            }]
                                        });
                                    }
                                },
                                error: function (xhr) {
                                    BootstrapDialog.show({
                                        title: "Lỗi",
                                        message: xhr.responseText,
                                        buttons: [{
                                            label: "Đóng",
                                            cssClass: "btn-primary btn-sm",
                                            action: function (dialog) {
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            });
                            dialog.close();
                        }
                    }, {
                        label: 'Đóng',
                        cssClass: 'btn-primary btn-sm',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }]
                })
            } else {
                BootstrapDialog.show({
                    message: '<span class="text-info">Không tìm thấy chức danh mã #' + id + '</span>',
                    buttons: [
                        {
                            label: 'Đóng',
                            cssClass: 'btn-primary btn-sm',
                            action: function (dialog) {
                                dialog.close();
                            }
                        }
                    ]
                })
            }
        }

        $('.mnu-sys').attr('class', 'submenu mnu-sys open');

    </script>
}