@{
    ViewBag.Title = "Lịch sử nhập hàng";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-lg-12 panel-warning">
        <div class="content-box-header panel-heading">
            <div class="panel-title ">@ViewBag.Title</div>
        </div>
        <div class="content-box-large box-with-header">
            <div class="panel-body">
                <div class="form-group">
                    <div style="display:table">
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                <div class='input-group date' id='datetimepicker1' style="width:175px; margin-right:4px;">
                                    <input type='text' class="form-control tb-date1" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div style="display:table-cell">
                                <div class='input-group date' id='datetimepicker2' style="width:175px; margin-right:4px;">
                                    <input type='text' class="form-control tb-date2" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div style="display:table">
                        <div style="display:table-row">
                            <div style="display:table-cell">
                                @Html.DropDownList("Supplier", ViewBag.SupplierSelectOptions as List<SelectListItem>, "--Nhà cung cấp---", new { @class = "form-control", @style = "width:175px; margin-right:4px;" })
                            </div>
                            <div style="display:table-cell">
                                @Html.DropDownList("Category", ViewBag.CategorySelectOptions as List<SelectListItem>, "---Loại hàng--", new { @class = "form-control", @style = "width:175px; margin-right:4px;" })
                            </div>
                            <div style="display:table-cell">
                                @Html.DropDownList("Brand", ViewBag.BrandSelectOptions as List<SelectListItem>, "--Thương hiệu---", new { @class = "form-control", @style = "width:175px; margin-right:4px;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <input class="form-control tb-search" placeholder="Từ khóa tra cứu..." type="text" style="width:354px;" />
                    <input class="btn btn-primary btn-search" value="Tra cứu" type="button" />
                    <a href="/Stock/Import" class="btn btn-success">Nhập hàng</a>
                </div>
                <div class="lst-import">
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="success">
                                <th>STT</th>
                                <th>Ngày nhập</th>
                                <th>Mặt hàng</th>
                                <th>Nhãn hiệu</th>
                                <th>SKU</th>
                                <th>Loại</th>
                                <th>NCC</th>
                                <th>Số lượng</th>
                                <th>Giá nhập</th>
                                <th>Thành tiền</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr>
                                <td colspan="11">Đang nạp...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <link href="~/Content/bootstrap-dialog/bootstrap-dialog.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Content/bootstrap-dialog/bootstrap-dialog.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script>
        var g_imports;

        $(document).ready(function () {
            // Register date pickers
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                defaultDate: new Date(new Date().getFullYear(), new Date().getMonth(), 1),
                showTodayButton: true
            })
            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY',
                defaultDate: new Date(),
                showTodayButton: true
            })

            ajaxLoadImports();

            // Events
            $('#Category').on('change', function () {
                ajaxLoadImports();
            })

            $('#Brand').on('change', function () {
                ajaxLoadImports();
            })

            $('#Supplier').on('change', function () {
                ajaxLoadImports();
            })

            $('#datetimepicker1').on('dp.change', function (e) {
                ajaxLoadImports();
            })

            $('#datetimepicker2').on('dp.change', function (e) {
                ajaxLoadImports();
            })

            $('.btn-search').click(function () {
                ajaxLoadImports();
            })
        })

        // Ajax to get products
        function ajaxLoadImports() {
            // get filter params
            var d1 = formatDateVN($('#datetimepicker1').data("DateTimePicker").date().toDate()).replace(new RegExp('-', 'g'), '/');
            var d2 = formatDateVN($('#datetimepicker2').data("DateTimePicker").date().toDate()).replace(new RegExp('-', 'g'), '/');
            var searchText = $('.tb-search').val();
            var cat = $('#Category').val();
            var brand = $('#Brand').val();
            var supplier = $("#Supplier").val();
            // show loading status
            $(".lst-import").html('<p><img src="/Content/images/ajax-loader.gif"> Đang nạp...</p>');
            // get imports
            $.ajax({
                url: '/Stock/FilterImports/?date1=' + d1 + '&date2=' + d2 + '&searchText=' + searchText + '&cat=' + cat + '&brand=' + brand + '&supplier=' + supplier,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.Success == true) {
                        g_imports = data.Imports;
                        showImports(data.Imports);
                    }
                    else {
                        $(".lst-import").html('<span class="text-danger">' + data.Message + '</span>');
                    }
                },
                error: function (xhr) {
                    $(".lst-import").html('<span class="text-danger">' + xhr.responseText + '</span>');
                }
            });
        }

        // Show product list
        function showImports(imports) {
            var html = '';
            var sum_quantity = 0;
            var sum_amount = 0;
            // Generate row header
            html += '    <table class="table table-bordered table-nonfluid">\r\n';
            html += '        <tbody>\r\n';
            html += '            <tr class="alert-success">\r\n';
            html += '                <th class="text-nowrap">STT</th>\r\n';
            html += '                <th class="text-nowrap">Ngày nhập</th>\r\n';
            html += '                <th class="text-nowrap">Mặt hàng</th>\r\n';
            html += '                <th class="text-nowrap">Nhãn hiệu</th>\r\n';
            html += '                <th class="text-nowrap">SKU</th>\r\n';
            html += '                <th class="text-nowrap">Loại</th>\r\n';
            html += '                <th class="text-nowrap">NCC</th>\r\n';
            html += '                <th class="text-nowrap">Số lượng</th>\r\n';
            html += '                <th class="text-nowrap">Giá nhập</th>\r\n';
            html += '                <th class="text-nowrap">Thành tiền</th>\r\n';
            html += '                <th class="text-nowrap">Thao tác</th>\r\n';
            html += '            </tr>\r\n';
            $.each(imports, function (index, line) {
                sum_quantity += line.Quantity;
                sum_amount += line.Quantity * line.ImportPrice;
                var importDate = new Date(line.ImportDate.match(/\d+/)[0] * 1);
                html += '            <tr>\r\n';
                html += '                <td class="text-nowrap text-center">' + (index + 1) + '</td>\r\n';
                html += '                <td class="text-nowrap">' + formatDateVN(importDate) + '</td>\r\n';
                html += '                <td><a href="/Stock/EditImport/' + line.ImportId + '" data-toggle="tooltip" title="' + line.Note + '">' + line.ProductName + '</a></td>\r\n';
                html += '                <td class="text-nowrap">' + line.BrandName + '</td>\r\n';
                html += '                <td class="text-nowrap text-center">' + line.SKU + '</td>\r\n';
                html += '                <td class="text-nowrap">' + line.CategoryName + '</td>\r\n';
                html += '                <td class="text-nowrap">' + line.SupplierName + '</td>\r\n';
                html += '                <td class="text-nowrap text-right">' + line.Quantity.format(0, 3, ',', '.') + '</td>\r\n';
                html += '                <td class="text-nowrap text-right">' + line.ImportPrice.format(0, 3, ',', '.') + '</td>\r\n';
                html += '                <td class="text-nowrap text-right">' + (line.Quantity * line.ImportPrice).format(0, 3, ',', '.') + '</td>\r\n';
                html += '                <td class="text-nowrap">\r\n';
                html += '                    <a href="/Stock/EditImport/' + line.ImportId + '" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></a>\r\n';
                html += '                    <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="ajaxDeleteImport(' + line.ImportId + ');"><i class="glyphicon glyphicon-remove"></i></a>\r\n';
                html += '                </td>\r\n';
                html += '            </tr>\r\n';
            })
            if (imports.length == 0) {
                html += '            <tr><td colspan="11">Không thông tin nhập hàng nào</td></tr>';
            }
            else {
                // append grand total row
                html += '            <tr class="alert-primary">\r\n';
                html += '                <td class="text-nowrap text-right" colspan="7">Tổng cộng:</td>\r\n';
                html += '                <td class="text-nowrap text-right text-bold">' + sum_quantity.format(0, 3, ',', '.') + '</td>\r\n';
                html += '                <td></td>\r\n';
                html += '                <td class="text-nowrap text-right text-bold">' + sum_amount.format(0, 3, ',', '.') + '</td>\r\n';
                html += '                <td class="text-nowrap"></td>\r\n';
                html += '            </tr>\r\n';
            }
            html += '       </tbody>\r\n';
            html += '    </table>\r\n';

            // Show products
            $(".lst-import").html(html);

            // Setup BS tooltip
            $('[data-toggle="tooltip"]').tooltip();
        }

        // Delete import
        function ajaxDeleteImport(id) {
            // Find deleted import
            var deletedImport = null;
            $.each(g_imports, function (index, importLine) {
                if (importLine.ImportId == id) {
                    deletedImport = importLine;
                    return false; // exit each loop
                }
            })
            // Delete import
            if (deletedImport != null) {
                // Show confirm dialog
                BootstrapDialog.show({
                    message: '<span class="text-danger">Bạn chắc chắn muốn xóa nhập kho <b>' + deletedImport.ProductName + '</b>?</span>',
                    buttons: [{
                        label: 'Xóa',
                        cssClass: 'btn-danger btn-sm',
                        action: function (dialog) {
                            $.ajax({
                                url: '/Stock/DeleteImport/?id=' + deletedImport.ImportId,
                                type: 'POST',
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                success: function (data) {
                                    if (data.Success == true) {
                                        ajaxLoadImports();
                                    }
                                    else {
                                        BootstrapDialog.show({
                                            title: "Lỗi",
                                            message: data.Message,
                                            buttons: [{
                                                label: "Đóng",
                                                cssClass: "btn-primary btn-sm",
                                                action: function (dialog) {
                                                    dialog.close();
                                                }
                                            }]
                                        });
                                    }
                                },
                                error: function (xhr) {
                                    BootstrapDialog.show({
                                        title: "Lỗi",
                                        message: xhr.responseText,
                                        buttons: [{
                                            label: "Đóng",
                                            cssClass: "btn-primary btn-sm",
                                            action: function (dialog) {
                                                dialog.close();
                                            }
                                        }]
                                    });
                                }
                            });
                            dialog.close();
                        }
                    }, {
                        label: 'Đóng',
                        cssClass: 'btn-primary btn-sm',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }]
                })
            } else {
                BootstrapDialog.show({
                    message: '<span class="text-info">Không tìm thấy hàng hóa mã #' + id + '</span>',
                    buttons: [
                        {
                            label: 'Đóng',
                            cssClass: 'btn-primary btn-sm',
                            action: function (dialog) {
                                dialog.close();
                            }
                        }
                    ]
                })
            }
        }

        $('.mnu-stock').attr('class', 'submenu mnu-stock open');

    </script>
}