
@{
    ViewBag.Title = "Oops!!!";
}

<div class="men">
    <div class="container">
        <div style="text-align:center;">
            <img src="~/Content/images/oops.png" />
            <p class="text-danger" style="margin-top:24px;">Rất tiếc! Có lỗi xảy ra...</p>
            <a href="/trang-chu" class="btn btn-sm btn-danger" style="padding: 4px 8px; width:120px; margin:24px 0px; color:#fff;">Về trang chủ</a>
        </div>
    </div>
</div>